<!DOCTYPE html>
<html>
  <head>
    <title>Demo authentication app</title>
    <style>
      body {
        width: 80%;
        margin: 2em auto;
        font-size: 20px;
      }
      input {
        font-size: 19px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>